{% load static %}

<head>
	<title>My Stockboard</title>
 	<link rel="stylesheet" type="text/css" href="{% static 'stock_data/styles.css' %}"/>
 	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
</head>

<h1><a href={% url 'home' %}>My Stockboard</a></h1>
{% if user.is_authenticated %}
	<p>You are logged in as: {{ request.user }}</p>
{% endif %}
<hr>
<ul>
	<li><a href={% url 'home' %}>Home</a></li>
	{% if user.is_authenticated %}
		<li><a href={% url 'stock_data:index' %}>Stocks portfolio</a></li>
		<li><a href={% url 'logout' %}>Logout</a></li>	
	{% else %}
		<li><a href={% url 'register' %}>Register</a> or <a href={% url 'login' %}>Login</a></li>	
	{% endif %}
</ul>
<hr>

{% block content %}
{% endblock %}