{% extends "./base.html" %}

{% block content %}
	<form action="{% url 'stock_data:index' %}" method="post">
		{% csrf_token %}
  		<label for="POST-stock-symbol">Which stock do you want information on?</label>
  		<input id="POST-stock-symbol" type="text" name="stock_symbol">
  		<input type="submit" value="Submit">
	</form>

	<p>Your stocks:</p>
	{% if ohlc_data %}
	<!-- Latest data for: {{ stock_symbol }} -->
    <ul>
    {% for stock_symbol, ohlc in ohlc_data.items %}
    	{{ stock_symbol }}'s OHLC Data:	
    	{% for data_point_key, data_point_value in ohlc.items %}
        	<li>{{ data_point_key }}: {{ data_point_value }}</li>
        {% endfor %}
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>There is currently no stock data available for </p>
{% endif %}
{% endblock %}