{% extends "./base.html" %}

{% block content %}
	<form action="{% url 'stock_data:index' %}" method="post">
		{% csrf_token %}
  		<label for="POST-stock-symbol">Which stock do you want information on?</label>
  		<input id="POST-stock-symbol" type="text" name="stock_symbol">
  		<input type="submit" value="Submit">
	</form>

	<p>Your stocks:</p>
  {% if ohlc_data %}
    {% for stock_symbol, ohlc in ohlc_data.items %}
      {{ stock_symbol }}'s OHLC Data:
      <ul>
          <li>Open: {{ ohlc.0 }} </li>
          <li>High: {{ ohlc.1 }}</li>
          <li>Low: {{ ohlc.2 }}</li>
          <li>Close: {{ ohlc.3 }}</li>
         <!--{% for data_point_key in ohlc %}-->
  
      <!--{% endfor %}-->
     
      </ul>
      <hr>
    {% endfor %}
  {% else %}
    <p>There is currently no stock data available for </p>
  {% endif %}
{% endblock %}

